* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    background-image: url(../multimedios/Logo\ B&N.png);
    color: #534B52;
    font-family: 'Atma', cursive;
}
/* GRILLA QUE ESTRUCTURA TODO EL BODY */
.divBody{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    align-content: space-between;
    height: 100vh;

}
/* header */
header {
    grid-area: header;
    display: flex;
    background-color: #534B52;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../multimedios/bannerCocina.svg);
    background-size: 35%;
}

header div { /* div que contiene la imagen del logo */
    display: inline-flex;
    background-color: #534B52;
    margin:0;
    padding: 0;
    border: 0;
}

.logoHeader{/* class de la imagen del logo que esta en el header */
    height: 100px;
    margin: 0;
    padding: 0;
    border: 0; 
    position: relative;
    top: 6px; 
}

nav ul{
    display: flex;
    padding: 0px;
    margin-right: 10px;
    background-color:  #534B52;
}

nav ul li {
    position:relative;
    border: solid 1px #80CEC4;
  
}

.desplegable ul {       /*  menu desplegable */
    position: absolute;
    display: none;
    margin-top: 65px;
    width: 180px;
    padding: 0;
    transform: translateX(-50%);
    top: -17px;
    left: 87px;
    background-color: none;
    border-radius: 10px; 
    text-align: center;
    border: solid #80CEC4;
    z-index: 1;
 
}

.desplegable ul li {
    display: block;
    position: relative;
    border: none;
}

#liMenuDulceId{
    border-top: solid 2px #80CEC4 ;
    padding-left: 20px;
    padding-right: 20px;
}
.desplegable ul li a{
    padding: 0;
    margin: 0;
}

.desplegable:hover ul{/* fin del menu desplegable */
    display: block;
}

a {
      color: #F3F2E0; 
      text-decoration: none; 
      font-size: 30px;
      padding: 10px;       
}

/* hover del menu */
a:hover {
    color:#80CEC4 ;
}

.activo {
    color:#80CEC4;

}
/* main */
main {
    grid-area: main;
}
.indexSection{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: 'Alice', serif;
    position: relative; 
    font-size: 120px;
}

h2{
    font-size: 80px;
}

h3 {
    font-size: 50px;
    padding: 0;
    border: 0px;
    margin: 0px;
    line-height: 65px;

}

@keyframes fadeInDown { /* fade de la pluma del index */
    0%{
        opacity: 0 ;
        transform: translate3d(0,-100%,0);
    }
    100%{  opacity: 0.7;
        transform: translateZ(0);
    }    
}
.pluma { 
    width: 600px;
    padding: 0; 
    opacity: 70%;
    animation-name: fadeInDown;
    animation-duration: 3s; 
}

/* footer */
footer{
    grid-area: footer;
}
.footer {
    background-image: url(../multimedios/bannerCocina.svg);
    background-size: 20%;
    color: #F3F2E0;
    background-color: #534B52;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

 .footerTxt{
    font-size: 30px;

}
/* Form del contacto */
form {
    font-size: 30px;
}

.botones { /* class botones del form */
    border-radius: 5px;
    background-color:#534B52 ;
    color: #F3F2E0;
}

/* GRILLA GALERIA */
.galeriaContenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
    margin: 10px;
}
.imgGaleria{
    height: 20em;
}
.imgGaleria img{
    width:100%;
    height: 100%;
}

/* GRILLA ABOUT */
.aboutContenedor{
    display: grid;
    grid-template-columns:  450px 450px;
    grid-template-rows: 150px 400px;
    column-gap: 30px;
    justify-content: center;
    grid-template-areas: 
    "imagen H2"
    "imagen texto";
}

.aboutH2{
    grid-area: H2;
    align-self: end;
    
}
.aboutTxt{
    grid-area: texto;
    width:100%;
    font-size: 30px;
}
  
.aboutImg{
    grid-area: imagen; 
    height: 600px;
    align-self: center;
}
.aboutImg img{
    height: 100%;
}
/* Menú */
/* animacion salero */
@keyframes upanddown{
    0%{
        transform:rotate(0deg);
    }
    100%{ 
        transform:rotate(5deg);}
}
.saltshakerSalt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.saltshaker{
    justify-self: flex-end;
}

.saltshaker img{
    width: 10em;
    margin-right: 2em;
    transform-origin: 339px 226px;
    animation: upanddown 0.6s ease-out 4 alternate;
}
/* animacion sal */
@keyframes salt{
    0%{opacity:0;
        transform:translate(10px, -10px);}
    20%{opacity:1;}
    50%{opacity:1;}
    100%{transform:translate(-10px, 10px);
        opacity:0;
    }
}
.salt{
    align-content: flex-end;
    
    }
.salt img {
    width: 5em;
    margin-right: 10em;
    animation-delay: 2.2s;
    animation: salt 1.25s linear -0.18s 3;
    opacity: 0;
}

.frola img {
    width: 15em;
}

.humo img{
    width: 10em;
}