$backgroundcolor_header_footer: #534B52;
$color_typography: #534B52;
$color_typography_header_footer:#F3F2E0;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import "header_nav";
@import "footer";
@import "animations";

.body_area{
    color: $color_typography;
    font-family: 'Atma', cursive; 
    background-image: url(../multimedios/background2.jpg);
}
@mixin h_text {
    text-align: center;
    font-weight: 600;
    position: relative; 
}
    .h1_t{
        @include h_text;
        font-family: 'Alice', serif;
        font-size: 7rem;
    }
    .h2_t{
        margin-top: 1rem;
        text-decoration: underline;
        @include h_text;
        
    }
    .h3_t{
        @include h_text;
    }
    .h4_t{
        @include h_text;
        
    }
    
/* imagen del about */
.about{
    &_img{
        height: 50rem; 
        text-align: end;
        margin-left: -5rem;
      
    }
    &_txt{
        align-self: center;
        text-align: center;
        width: 40rem;
        font-weight: bold;
    }
}
/* mediaquerie del about para eliminar imagen en responsive */
@media (max-width:1200px){
    .about_img{
        display: none;
    }
}
/* Estilos form de contacto */
.text_label{
    color: $color_typography;
    font-size: 1.5rem;
}

.btn{
    background-color: $backgroundcolor_header_footer;
    color: $color_typography_header_footer;
    border-color: $color_typography_header_footer;
}
